#myInput {
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }

  #enroltable {
    border-collapse: collapse; /* Collapse borders */
    border: 1px solid #ddd; /* Add a grey border */
  }
  
  #enroltable th, #enroltable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
  }
  
  #enroltable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
  }
  
  #enroltable tr.header, #enroltable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
  }

  #classlist {
    border-collapse: collapse; /* Collapse borders */
    border: 1px solid #ddd; /* Add a grey border */
    width: 100%;
  }
  
  #classlist th, #classlist td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
  }
  
  #classlist tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
  }
  
  #classlist tr.header, #classlist tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
  }